h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  position: relative;
  width: 75px !important;
  height: 75px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.home > a > button:hover {
  background: black;
}
.home > a > button > img {
  opacity: 50%;
  transition: opacity 0.5s ease;
}
.home > a > button:hover > img {
  opacity: 100%;
}
.home > a > button > div {
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50px;
  height: 50px;
  mask-image: url('home-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
  transition: opacity 0.5s ease; 
}
.home > a > button:hover > div {
  opacity: 1;
}
.semiicon {
  width: 75px;
  height: 75px;
  mask-image: url('semi-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
  border-radius: 25px 25px 0 0;
}
.web {
  margin:25px;
}
body {
  background: radial-gradient(circle at center, #b20561 0%, transparent 75%),#5a002e;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
.title-box {
  background: #b20561b0;
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 15px;
}
.headbox {
  background: #b20561b0;
  position: relative;
  color: white;
  border-radius: 15px;
  display:flex;
  justify-content: center;
  border-radius: 15px;
  padding: 1em;
}
.headbox > div:not(:nth-child(3n)) {
  border-right: #ffffff40 1px solid;
}
.headbox > div {
  padding: 25px;
}
.color {
  column-count: 3;
  column-gap: 25px;
  height: max-content;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
}
.color > div {
  color: white;
  border-radius: 15px;
  padding: 25px;
  height: max-content;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  break-inside: avoid;
  margin-bottom: 25px;
  background: #b20561b0;
}
.color >div:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px #00000080;
}
.color >div >div {
  position: relative;
  top: 0;
  width: content-box;
  height: 2.5em;
  margin: -25px;
  margin-bottom: 25px;
  border-radius: 15px 15px 0 0;
}

hr {
  border: none;
  border-bottom: solid 1px #ffffff40;
}

.origin {
  text-align: end;
  word-wrap: break-word;
}
.origin > div {
  color: white;
}
.origin > a {
  font-weight: 200;
  text-decoration: none;
  color: white;
}
/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
background: #5a002e;
width: 15px;
height: 15px;
}
body::-webkit-scrollbar-thumb {
background: #b20561;
border-radius: 25px;
width: 50%;
height: 15px;
}

/* view on phone */
@media (max-width: 767px) {
.header > div > h1 {
  font-size: 36px !important;
}
.header > div > img {
  width: 50px !important;
  height: 50px !important;
}
.header {
  gap: 1.5em;
  height: 3em;
}
.headbox {
  flex-direction: column;
}
.headbox > div:not(:nth-child(3n)) {
  border-bottom: #ffffff40 1px solid;
  border-right: none;
}
body.light .headbox > div:not(:nth-child(3n)) {
  border-right: none !important;
  border-bottom: #58002640 1px solid;
}
.color {
  column-count: 1;
}
.origin {
  text-align: center;
}
}

body.light::-webkit-scrollbar {
  background: #ffc9f0;
}
body.light::-webkit-scrollbar-thumb {
  background: #580026;
}

body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #580026;
}
body.light .home>a {
  color: #580026;
}
body.light .home > a > button > div, body.light .semiicon {
  background-color: #580026;
}
body.light .home > a{
  color: #580026;
}
body.light .home > a > button {
  color: #580026;
  background: #ffffff80;
}
body.light .home > a > button:hover {
  background: white;
}

body.light .title-box, body.light .headbox {
  background: #fef1fab0;
}
body.light {
  background: radial-gradient(#ffe4f6 0%, transparent 75%),#ffc9f0;
}

body.light .color >div:hover {
  box-shadow: 0 5px 5px #ff9de280;
}

body.light .title-box, body.light .headbox, body.light .origin > b > div {
  color: #580026;
}
body.light .title-box:before, body.light .headbox:before{
  opacity: 0.5;
}
body.light .headbox > div:not(:nth-child(3n)) {
  border-right: #58002640 1px solid;
}
body.light .origin > div, body.light .origin > a {
  color: #580026;
}
body.light .color>div {
  color: #580026;
  background: #fef1fab0;
}
body.light hr{
  border-bottom: solid 0.5px #58002640;
}